/* ApplyForm.css */

.popup-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7); /* Darker overlay */
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
  font-family: 'Arial', sans-serif; /* Default font family */
}

.apply-form-container {
  position: relative;
  width: 320px;
  padding: 25px;
  border: 1px solid #ccd9ff;
  border-radius: 8px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
  background-color: #f7faff; /* Light blue background */
}

.close-icon {
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
  font-size: 22px;
  color: #003366;
  font-weight: bold;
}

.apply-form-container h2 {
  text-align: center;
  color: #004080; /* Darker blue */
  font-size: 22px;
  font-family: 'Verdana', sans-serif; /* Distinct font style for heading */
  margin-bottom: 15px;
}

.apply-form-container form {
  display: flex;
  flex-direction: column;
}

.apply-form-container input,
.apply-form-container select {
  margin-bottom: 15px;
  padding: 12px;
  border: 1px solid #99bbff;
  border-radius: 6px;
  font-size: 14px;
  font-family: 'Arial', sans-serif;
/* Subtle background for inputs */
  color: #004080; /* Input text color */
}

.apply-form-container .city-mobile-container {
  display: flex;
  justify-content: space-between;
}

.apply-form-container .city-mobile-container select,
.apply-form-container .city-mobile-container input {
  width: 68%;
  padding: 10px;
}


.apply-form-container button {
  padding: 12px;
  background-color: #004080; /* Deep blue button */
  color: #ffffff;
  border: none;
  border-radius: 6px;
  font-size: 16px;
  font-family: 'Verdana', sans-serif;
  cursor: pointer;
  transition: background-color 0.3s ease;
  
}

.location-box {
 /* Deep blue button */
  color:  #004080 ;
  border: none;
  border-radius: 6px;
  font-size: 15px;
  font-family: 'Verdana', sans-serif;
  cursor: pointer;
  transition: background-color 0.3s ease;
}
.apply-form-container button:hover {
  background-color: #002d66; /* Slightly darker on hover */
}

.apply-form-container p {
  text-align: center;
  color: #808080; /* Neutral gray text */
  font-size: 14px;
  font-family: 'Arial', sans-serif;
  margin-top: 15px;
}
