
.footer {
  background-color: #2d3436;
  color: #fff;
  padding: 20px 30px;
  font-family: 'Arial', sans-serif;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.footer-content {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin-bottom: 5px;
  flex-wrap: wrap;
  gap: 40px;
}

.contact-info, .social-media, .quick-links {
  width: 100%;
  max-width: 300px;
}
.contact-us {
  font-size: large;
  color: white;
}
.contact-info h3, .social-media h3, .quick-links h3 {
  font-size: 1.5rem;
  margin-bottom: 8px;
  font-weight: 600;
  color: #fff;
}

.social-media p, .quick-links p {
  font-size: 1rem;
  color: #b2bec3;
  margin: 5px 0;
}
.terms-condition a {
  text-decoration: underline;
  color:#b2bec3 ;
  

}
.contact-us {
  font-size: small;
  color: #b2bec3;
}

.quick-links ul {
  list-style-type: none;
  padding: 0;
}

.quick-links li {
  margin-bottom: 10px;
}

.footer-link {
  color: #b2bec3;
  text-decoration: none;
  transition: color 0.3s ease;
}

.footer-link:hover {
  color: #0984e3;
}

.social-icons {
  display: flex;
  gap: 40px;
  flex-wrap: wrap;
  justify-content: flex-start;
}

.social-icon {
  font-size: 1.8rem;
  color: #fff;
  transition: color 0.3s ease, transform 0.3s ease;
  margin: 10px;
}

.social-icon:hover {
  color: #0984e3;
  transform: scale(1.1);
}

.footer-bottom {
  text-align: center;
  font-size: 1rem;
  color: #b2bec3;
  margin-top: 10px;
}

.footer-bottom p {
  margin: 0;
}

@media (max-width: 1024px) {
  .footer-content {
    gap: 20px;
  }

  .contact-info, .social-media, .quick-links {
    max-width: 250px;
  }
}

@media (max-width: 768px) {
  .footer-content {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .contact-info, .social-media, .quick-links{
    max-width: 100%;
    margin-bottom: 10px;
  }

  .social-icons {
    justify-content: center;
  }

  .social-icon {
    gap: 10px;
    font-size: 1.5rem;
  }

  .footer-link {
    font-size: 1rem;
  }
}

@media (max-width: 480px) {
  .footer {
    padding: 10px 10px;
  }

  .footer-bottom {
    font-size: 0.9rem;
  }

  .contact-info h3, .social-media h3, .quick-links h3 {
    font-size: 1.3rem;
  }

  .contact-info p, .social-media p, .quick-links p {
    font-size: 0.9rem;
  }

  .social-icon {
    gap: 10px;
    font-size: 1.4rem;
  }
}
