section {
  background-color: #f9f9f9;

}

.contact-page-sec .container {
  display: flex;
  text-align: center;
  align-items: flex-start;
}

.contact-info {
  display: inline-block;
  width: 100%;
  text-align: left;
  margin-bottom: 40px;
  text-align: center; /* Space between contact info and form */
}

.contact-info-item {
  background: #071c34;
  padding: 30px 20px;
  border-radius: 8px;
  margin-bottom: 20px; /* Add space between items */
}

.contact-info-icon {
  margin-bottom: 15px;
}

.contact-page-sec .contact-page-form h2 {
  color: #071c34;
  text-transform: capitalize;
  font-size: 22px;
  font-weight: 700;
  width: 100%;
}

.contact-page-form .col-md-6, .contact-page-form .col-sm-6, .contact-page-form .col-xs-12 {
  padding-left: 0;
}

.contact-page-form input, .contact-page-form textarea {
  background: #f9f9f9;
  border: 1px solid #071c34;
  margin-bottom: 20px;
  padding: 12px 16px;
  width: 100%;
  border-radius: 4px;
  font-size: 16px;
}


.contact-page-form input[type="submit"] {
  background: #fda40b;
  width: 100%;
  border-color: #fda40b;
  color: white;
  font-weight: 600;
  font-size: 16px;
  padding: 10px 0;
}

.contact-page-form input[type="submit"]:hover {
  background: #071c34;
  transition: all 0.4s ease-in-out 0s;
  border-color: #071c34;
}


.contact-info-text h2 {
  color: #fff;
  font-size: 22px;
  text-transform: capitalize;
  font-weight: 600;
  margin-bottom: 10px;
}

.contact-info-text span {
  color: #999999;
  font-size: 16px;
  font-weight: normal;
  display: inline-block;
  width: 100%;
}

.contact-page-form .message-input textarea {
  background: #f9f9f9;
  border: 1px solid #f9f9f9;
  width: 100%;
  height: 120px;
  padding: 12px 16px;
  border-radius: 4px;
}

.contact-page-map {
  margin-top: 36px;
  width: 100%;
}

.contact-page-form form {
  padding: 20px 15px 0;
}

.single-input-fieldsbtn input[type="submit"] {
  background: #fda40b;
  color: #fff;
  display: inline-block;
  font-weight: 600;
  padding: 10px 0;
  text-transform: capitalize;
  width: 100%;
  font-size: 16px;
}

.single-input-fieldsbtn input[type="submit"]:hover {
  background: #071c34;
  transition: all 0.4s ease-in-out 0s;
  border-color: #071c34;
}

/* Responsiveness */
@media (max-width: 768px) {
  .contact-page-sec {
    padding: 40px 0;
  }

  .contact-info-item {
    padding: 20px 0;
  }

  .contact-page-form {
    margin-top: 20px;
  }

  .contact-page-map iframe {
    height: 300px;
  }

  .contact-page-form input, .contact-page-form textarea {
    font-size: 14px;
  }

  .contact-page-form input[type="submit"] {
    font-size: 14px;
  }
}

@media (max-width: 480px) {
  .contact-page-sec {
    padding: 30px 0;
  }

  .contact-info {
    margin-bottom: 20px;
  }

  .contact-info-item {
    padding: 15px 0;
  }

  .contact-page-form .col-md-6 {
    padding: 0 10px;
  }

  .contact-page-form input, .contact-page-form textarea {
    font-size: 14px;
  }

  .contact-page-form input[type="submit"] {
    font-size: 14px;
  }
}
